* {
  margin: 0px;
  padding: 0px;
}
.divClearFix {
  float: none;
  clear: both;
}
body {
  background: url(../img/pexels-benjamin-suter-Wide.jpg);
  background-attachment: fixed;
}
#global {
  width: 65%;
  margin: 0px auto;
  margin-top: 30px;
  background: white;
  padding: 25px;
  box-shadow: 0px 0px 2px gray;
}
#divLogo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 4px;
  line-height: 60px;
  background: #235e3d;
  color: white;
  text-align: center;
  width: 385px;
  height: 80px;
  margin-bottom: 20px;
  float: left;
}
#navMenu {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#navMenu ul {
  line-height: 46px;
  list-style: none;
}

#navMenu ul li {
  line-height: 46px;
  display: inline-block;
  transition: all 300ms;
}
#navMenu ul li:hover {
  background: #235e3d;
}
#navMenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

#divPosts {
  width: 60%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
.articlePost {
  padding: 7px;
}

.articlePost h2 {
  font-size: 30px;
  color: #333;
}

.articlePost .spanDate {
  display: block;
  color: gray;
  margin-top: 5px;
}

.articlePost p {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 20px;
  text-align: justify;
}

.aButtonReadMore {
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 15px;
  background: #235e3d;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  width: 75px;
  float: auto;
  margin-bottom: 20px;
}

#sidebar {
  font-family: Arial, Helvetica, sans-serif;
  width: 31%;
  float: right;
}
#sidebar h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: #333;
  background: url("../img/pexels-eberhard-grossgasteiger-small.jpg") repeat-x;
}

#sidebar h4 span {
  background: white;
}

#sidebar img {
  width: 100%;
}

#sidebar p {
  font-size: 15px;
  text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 5px;
}

form input[type="submit"] {
  background: #ccc;
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
}

footer {
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 47px;
  background: rgba(51, 51, 51, 0.7);
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  line-height: 47px;
}

.bx-wrapper,
.bx-viewport {
  height: 250px !important;
}
